{% extends "base.html" %}
{% block title %}Login · Hacking-Lab{% endblock %}
{% block content %}
  <h1>🐎 Ins Forum einreiten</h1>
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
      {{ form.username.label }}
      {{ form.username() }}
      {% for e in form.username.errors %}<div class="errors">{{ e }}</div>{% endfor %}
    </div>
    <div>
      {{ form.password.label }}
      {{ form.password() }}
      {% for e in form.password.errors %}<div class="errors">{{ e }}</div>{% endfor %}
    </div>
    {{ form.submit() }}
  </form>
{% endblock %}
